%h1= t :title_session_login_to_continue
.flash-warning
  - form_tag session_path do
    %table
      %tr
        %td
          %label{ :for => "login" }
            Login
        %td
          = text_field_tag 'login'
      %tr
        %td
          %label{ :for => "password" }
            Password
        %td
          = password_field_tag 'password'
      %tr
        %td
          &nbsp;
        %td
          = submit_tag t(:label_session_log_in)
          &nbsp;
          .right{:style => "display: inline"}= link_to t(:label_session_forgot_password)
