%h1.underline
  = @macro.new_record? ? t(:title_macro_new) : t(:title_macro_update)

%div{ :style => "display:none" }
  #macro-name= t :help_macro_name
  #macro-active= t :help_macro_active

- form_for( @macro ) do |f|
  = error_messages_for :macro

  %table
    %tr
      %td= t(:label_macro_name)
      %td &nbsp;
      %td
        = f.text_field :name
        = prototip_help_icon('macro-name')
    %tr
      %td.top= t(:label_macro_description)
      %td &nbsp;
      %td= f.text_area :description, :size => '35x2'
    - unless @users.nil? || @users.empty?
      %tr
        %td= t(:label_macro_owner)
        %td &nbsp;
        %td= f.collection_select :user_id, @users, :id, :login, :include_blank => true
    %tr
      %td= t(:label_macro_active)
      %td &nbsp;
      %td
        = f.check_box :active
        = prototip_help_icon('macro-active')
    %tr
      %td.right= link_to_cancel @macro
      %td &nbsp;
      %td= submit_tag t(:generic_save)
