%div{ :style => "display: none" }
  #new-macro= t :help_macro_new
  #delete-macro= t :help_macro_delete

#header
  %planet
    =image_tag "../images/planet.png",  :class => "header_icons"
  Macros

- if @macros.size > 0
  #macroslist  
    %table
      = render :partial => @macros
- else
  %em= t :message_macro_not_defined


%ul.start
  = link_to new_macro_path do
    = info_icon('brick_add.png', 'new-macro')
  = link_to t(:label_macro_add), new_macro_path

