%div{ :style => "display: none" }
  #new-macro= t :help_macro_new
  #delete-macro= t :help_macro_delete

%ul.start
  %li
    - link_to new_macro_path do
      = prototip_info_icon('brick_add.png', 'new-macro')
    = link_to t(:label_macro_add), new_macro_path

%h1.underline Macros

- if @macros.size > 0
  %table
    = render :partial => @macros
- else
  %em= t :message_macro_not_defined