%div{:style => "display: none;"}
  #zone-name= t :help_template_name
  #zone-ttl

= form_for( @zone_template ) do |f|
  = error_messages_for :zone_template
  %table
    %tr
      %td= t :label_template_zone_name
      %td &nbsp;
      %td= f.text_field :name
    %tr
      %td= t :label_template_zone_ttl
      %td &nbsp;
      %td= f.text_field :ttl, :size => 6
    %tr
      %td= t :label_template_zone_type
      %td &nbsp;
      %td= f.select :type, ['NATIVE','MASTER','SLAVE'] 
    %tr
      %td= t :label_template_zone_master
      %td &nbsp;
      %td= f.text_field :master, :size => 15 
    - if User.active_owners.any?
      %tr
        %td= t :label_template_zone_owner
        %td &nbsp;
        %td= f.collection_select :user_id, User.active_owners, :id, :login, :include_blank => true
    %tr
      %td= link_to_cancel @zone_template
      %td= submit_tag t(:generic_save)
