%tr[ record_template, :show ]
  %td= record_template.host
  %td= record_template.ttl
  %td= record_template.record_type
  %td= record_template.priority
  %td= record_template.data
  %td= record_template.primary_ns
  %td= record_template.contact
  %td= record_template.refresh
  %td= record_template.retry
  %td= record_template.expire
  %td= record_template.minimum
  %td
    = link_to_function image_tag('table_edit.png'), "editRecordTemplate(#{record_template.id})"
  %td
    = link_to image_tag('table_delete.png'), record_template_path( record_template ), :method => :delete, :confirm => 'Are you sure you want to remove this template?'
%tr[ record_template, :edit ]{ :style => 'display: none' }
  - remote_form_for( :record_template, record_template, :url => record_template_path( record_template ), :method => :put ) do |f|
    %td= f.text_field :host, :size => 5
    %td= f.text_field :ttl, :size => 4
    %td= f.text_field :record_type, :size => 4
    %td= f.text_field :priority, :size => 1
    %td= f.text_field :data, :size => 6
    %td= f.text_field :primary_ns, :size => 13
    %td= f.text_field :contact, :size => 4
    %td= f.text_field :refresh, :size => 4
    %td= f.text_field :retry, :size => 4
    %td= f.text_field :expire, :size => 4
    %td= f.text_field :minimum, :size => 4
    %td= image_submit_tag "table_save.png"
    %td= link_to_function image_tag("cancel.png"), "hideRecordTemplate(#{record_template.id})"

    