%h1.underline 
  = @zone_template.new_record? ? "New Zone Template" : "Update Zone Template"

%div{:style => "display: none;"}
  #zone-name
    The name by which our zone templates will be known.
  #zone-ttl

- form_for( @zone_template ) do |f|
  = error_messages_for :zone_template
  %table
    %tr
      %td Name
      %td &nbsp;
      %td= f.text_field :name
    %tr
      %td TTL
      %td &nbsp;
      %td= f.text_field :ttl, :size => 6
    - unless @users.nil? || @users.empty?
      %tr
        %td Owner
        %td &nbsp;
        %td= f.collection_select :user_id, @users, :id, :login, :include_blank => true
    %tr
      %td= link_to 'Cancel', zone_templates_path
      %td= submit_tag 'Save'
