%h1.underline 
  = @zone_template.new_record? ? t("title_template_editing.new") : t("title_template_editing.update")

%div{:style => "display: none;"}
  #zone-name= t :help_template_name
  #zone-ttl

- form_for( @zone_template ) do |f|
  = error_messages_for :zone_template
  %table
    %tr
      %td= t :label_template_zone_name
      %td &nbsp;
      %td= f.text_field :name
    %tr
      %td= t :label_template_zone_ttl
      %td &nbsp;
      %td= f.text_field :ttl, :size => 6
    - unless @users.nil? || @users.empty?
      %tr
        %td= t :label_template_zone_owner
        %td &nbsp;
        %td= f.collection_select :user_id, @users, :id, :login, :include_blank => true
    %tr
      %td= link_to_cancel @zone_template
      %td= submit_tag t(:generic_save)
