%div{ :style => "display: none;" }
  %div{ :id => "new-user-#{user.id}" }= t :help_user_create
  %div{ :id => "active-user-#{user.id}" }= t :help_user_is_active
  %div{ :id => "suspended-user-#{user.id}" }= t :help_user_is_suspended
  %div{ :id => "edit-user-#{user.id}" }= t :help_user_details_edit
  %div{ :id => "suspend-user-#{user.id}" }= t :help_user_suspend
  %div{ :id => "reactivate-user-#{user.id}" }= t :help_user_activate
  %div{ :id => "delete-user-#{user.id}" }= t :help_user_delete
      

%tr[ user, :show ]
  %td= link_to user.login, user_path( user )
  %td= user.email
  %td= user.has_role?('admin') ? t("label_user_role.admin") : t("label_user_role.user")
  %td
    - unless user.suspended?
      = prototip_info_icon('flag_green.png', "active-user-#{user.id}")
    - else
      = prototip_info_icon('flag_orange.png', "suspended-user-#{user.id}")
  %td
    = link_to prototip_info_icon('user_edit.png', "edit-user-#{user.id}"), edit_user_path( user )
    - unless user.suspended?
      = link_to prototip_info_icon('user_suspend.png', "suspend-user-#{user.id}"), suspend_user_path( user ), :method => :put unless user.eql?(current_user)
    - else
      = link_to prototip_info_icon('user_go.png', "reactivate-user-#{user.id}"), unsuspend_user_path( user ), :method => :put
    = link_to prototip_info_icon('user_delete.png', "delete-user-#{user.id}"), purge_user_path( user ), :method => :delete unless user.eql?(current_user)
