#new-user{ :style => 'display: none' }= t :help_user_add

#header
  %planet
    =image_tag "../images/planet.png",  :class => "header_icons"
  = t :title_users

%table.gridwide
  %tr
  = render :partial => 'user', :collection => @users

%ul.start
  = link_to info_icon('user_add.png', 'new-user'), new_user_path
  = link_to t(:label_user_create), new_user_path

