%h1.underline Edit record

%p= "Modifies an existing record for #{@zone.name} by entering relevant data below."

- form_for( [:zone, @record] ) do |f|
  = error_messages_for :record
  #record-form-div
    %table.grid
      %tr
        %td Type
        %td= @record.type
      %tr
        %td Host
        %td= f.text_field :host
      %tr
        %td TTL
        %td= f.text_field :ttl, :size => 6
      %tr.rt-mx{ :style => 'display :none' }
        %td Priority
        %td= f.text_field :priority, :size => 6
      %tr
        %td Data
        %td= f.text_field :data
      %tr
        %td
        %td.right
          = link_to 'Cancel', zone_path( @zone )
          = submit_tag 'Save'

%p &nbsp;

:javascript
  function hideAll() {
    $('record-form-div').hide();
  }
  function displayRecordForm() {
    $('record-form-div').show();
  }
  function editRecordTemplate(i){
    $('show_record_template_' + i).hide();
    soa = $('show-soa_record_template_' + i);
    if (soa)
      soa.hide();
    $('edit_record_template_' + i).show();
  }
  function hideRecordTemplate(i) {
    $('show_record_template_' + i).show();
    soa = $('show-soa_record_template_' + i);
    if (soa)
      soa.show();
    $('edit_record_template_' + i).hide();
  }
  function toggleRecordFields(e,v){
    t = 'rt-' + v.toLowerCase();
    $('record-form-div').select('tr').each(function(r){
      if(r.className && r.className != t)
        r.hide();
      else
        r.show();
    });
  }
