%h1.underline New record

%div{:style => "display: none;"}
  #record-types
    %i Some description here...

%p= "Create a new record for #{@zone.name} by entering relevant data below."

- form_for( [@zone, @record] ) do |f|
  = error_messages_for :record
  %p &nbsp;
  #record-form-div
    %table.grid
      %tr
        %td{:width => "300"} Type
        %td
          = select( :record, :type, RecordTemplate.record_types.map{ |t| [t,t] } - [["SOA", "SOA"]] )
          = prototip_help_icon('record-types')
          = observe_field "record_type", :function => 'toggleRecordFields(element,value);'
      %tr
        %td Host
        %td= f.text_field :host
      %tr
        %td TTL
        %td= f.text_field :ttl, :size => 6
      %tr.rt-mx{ :style => 'display :none' }
        %td Priority
        %td= f.text_field :priority, :size => 6
      %tr
        %td Data
        %td= f.text_field :data
      %tr.rt-soa{ :style => 'display :none' }
        %td Primary Name Server
        %td= f.text_field :primary_ns
      %tr.rt-soa{ :style => 'display :none' }
        %td Contact
        %td= f.text_field :contact
      %tr.rt-soa{ :style => 'display :none' }
        %td Refresh
        %td= f.text_field :refresh, :size => 6
      %tr.rt-soa{ :style => 'display :none' }
        %td Retry
        %td= f.text_field :retry, :size => 6
      %tr.rt-soa{ :style => 'display :none' }
        %td Expire
        %td= f.text_field :expire, :size => 6
      %tr.rt-soa{ :style => 'display :none' }
        %td Minimum
        %td= f.text_field :minimum, :size => 6
      %tr
        %td
        %td.right
          = link_to 'Cancel', zone_path( @zone )
          = submit_tag 'Save'

%p &nbsp;

:javascript
  function hideAll() {
    $('record-form-div').hide();
  }
  function displayRecordForm() {
    $('record-form-div').show();
  }
  function editRecordTemplate(i){
    $('show_record_template_' + i).hide();
    soa = $('show-soa_record_template_' + i);
    if (soa)
      soa.hide();
    $('edit_record_template_' + i).show();
  }
  function hideRecordTemplate(i) {
    $('show_record_template_' + i).show();
    soa = $('show-soa_record_template_' + i);
    if (soa)
      soa.show();
    $('edit_record_template_' + i).hide();
  }
  function toggleRecordFields(e,v){
    t = 'rt-' + v.toLowerCase();
    $('record-form-div').select('tr').each(function(r){
      if(r.className && r.className != t)
        r.hide();
      else
        r.show();
    });
  }
