%tr
  %td
    = link_to domain.name, domain_path( domain )
  %td &nbsp;
  %td
    = link_to prototip_info_icon('table_edit.png', 'zone-edit'), edit_domain_path(domain)
    = link_to prototip_info_icon('report_magnify.png', 'audits'), audits_path(:action => :domain, :id => domain)
    - unless domain.slave?
      = link_to prototip_info_icon('brick_go.png', 'macro'), apply_macro_domain_path( domain )
    - if current_user.admin? && domain.user
      = link_to_function prototip_info_icon('database_delete.png', 'delete-zone'), "deleteDomain();" , :id => "delete-link-buffer"
    - elsif !current_token
      = link_to prototip_info_icon('database_delete.png', 'delete-zone'), domain_path( domain ), :method => :delete, :confirm => t(:confirm_domain_delete, :domain => domain.name)
