/ These divs contain the help information.
%div{ :style => 'display: none' }
  #help-domain=t :help_domain_fqdn
  #help-primary-ns=t :help_domain_primary_ns
  #help-contact=t :help_domain_contact
  #help-refresh=t :help_domain_refresh
  #help-retry=t :help_domain_retry
  #help-expire=t :help_domain_expire
  #help-minimum=t :help_domain_minimum
  #help-type=t :help_domain_type
  #help-master=t :help_domain_master

%p=t :label_create_new_domain_note

- form_for(@domain) do |f|
  = error_messages_for :domain
  %p &nbsp;
  %table.grid
    %tr
      %td{:width => "300"}=t :label_domain_name
      %td= f.text_field :name
      %td= prototip_help_icon('help-domain')
    %tr
      %td=t :label_domain_type
      %td
        = f.select :type, ['NATIVE','MASTER','SLAVE']
        = observe_field :domain_type, :function => "if(value == \"SLAVE\") { $('master-address').show(); $('zone-templates').hide(); $('no-template-input').hide(); } else { $('master-address').hide(); $('zone-templates').show(); $('no-template-input').show(); }"
      %td= prototip_help_icon('help-type')
    %tr#master-address{ :style => 'display: none' }
      %td=t :label_domain_master_address
      %td= f.text_field :master
      %td= prototip_help_icon('help-master')
    %tr#zone-templates
      %td=t :label_domain_zone_template
      %td
        - if @zone_templates.size > 0
          = f.collection_select( :zone_template_id, @zone_templates, :id, :name, :include_blank => true )
          = observe_field :domain_zone_template_id, :function =>"if(value == \"\") $('no-template-input').show(); else $('no-template-input').hide()", :on => 'select'
        - else
          %em
            =link_to((t :label_create_zone_templates), new_zone_template_path)
            =t :label_zone_for_eazy_management
      %td &nbsp;
    
    
  #no-template-input
    %table.grid
      %tr
        %td{:width => "300"}=t :label_domain_primary_name_server
        %td= f.text_field :primary_ns
        %td= prototip_help_icon('help-primary-ns')
      %tr
        %td=t :label_domain_contact
        %td= f.text_field :contact
        %td= prototip_help_icon('help-contact')
      %tr
        %td=t :label_domain_refresh
        %td
          = f.text_field :refresh, :size => 6
          = prototip_help_icon('help-refresh')
        %td &nbsp;

      %tr
        %td= t :label_domain_retry
        %td
          = f.text_field :retry, :size => 6
          = prototip_help_icon('help-retry')
        %td &nbsp;
      %tr
        %td= t :label_domain_expire
        %td
          = f.text_field :expire, :size => 6
          = prototip_help_icon('help-expire')
        %td &nbsp;
      %tr
        %td= t :label_domain_minimum
        %td
          = f.text_field :minimum, :size => 6
          = prototip_help_icon('help-minimum')
        %td &nbsp;
  %table.grid
    %tr
      %td.right{:width => "300"}= link_to_cancel @domain
      %td= submit_tag((t :generic_save))
      %td &nbsp;
