- unless record.domain.slave?
  %div{ :style => "display: none;" } 
    %div{ :id => "record-template-edit-#{record.id}" }= t :label_domain_edit_record 
    %div{ :id => "record-template-delete-#{record.id}" }= t :label_domain_delete_record 

%tr[ record, :marker ]
%tr[ record, :show ]
  %td{ :width => 250 }= record.shortname
  %td{ :width => 50 }= record.ttl
  %td{ :width => 30 }= record.type
  %td{ :width => 30 }= record.prio
  %td{ :width => 250 }= record.content
  %td{ :width => 39 }
    - unless record.domain.slave?
      - if current_user || current_token.can_change?( record )
        = link_to_function prototip_info_icon('database_edit.png', "record-template-edit-#{record.id}"), "editRecord(#{record.id}, '#{record.type.downcase}')"
      - if current_user || current_token.can_remove?( record )
        = link_to prototip_info_icon('database_delete.png', "record-template-delete-#{record.id}"), domain_record_path( record.domain, record ), :method => :delete, :confirm => t(:confirm_domain_delte_record)

- unless record.domain.slave?
  - if current_user || current_token.can_change?( record )
    %tr[ record, :edit ]{ :style => "display: none;" }
      %td{ :colspan => 7 }
        - remote_form_for( :record, record, :url => domain_record_path(record.domain, record, :format => :js), :html => { :method => :put }) do |f|
          %div[ record, :error ]
            %table.gridwide
              %tr
                %td{ :width => 250 }= f.text_field :shortname, :size => 15
                %td{ :width => 50 }= f.text_field :ttl, :size => 3
                %td{ :width => 30 }= record.type
                %td{ :width => 30 }
                  - if record.supports_prio?
                    = f.text_field :prio, :size => 2
                  - else
                    &nbsp;
                %td{ :width => 250 }= f.text_field :content, :size => 15
                %td{ :width => 39 }
                  = image_submit_tag "table_save.png", { :class => 'nb' }
                  = link_to_function image_tag("cancel.png"), "hideRecord(#{record.id}, '#{record.type.downcase}')"
