- @page_title = t :title_macro_for, :domain => @domain.name

%h1.underline= t :title_macro_apply

%p= t :text_macro_description

- form_tag( apply_macro_domain_path( @domain ) ) do
  %table.grid
    %tr
      %td= t :label_macro_sign
      %td= select_tag :macro_id, options_for_select( @macros.map { |m| [ m.name, m.id ] } )
    %tr
      %td.right= link_to t(:generic_cancel), domain_path( @domain )
      %td= submit_tag t(:label_macro_apply)
