%h1.underline Update zone

/ These divs contain the help information.
%div{ :style => 'display: none' }
  #help-domain
    This is the fully qualified domain name (FQDN) of the domain.
  #help-type
    PowerDNS supports NATIVE, MASTER and SLAVE domain types. NATIVE domains will
    cause PowerDNS to keep quiet on changes, MASTER will have PowerDNS notify the
    slaves when changes are made to the records, and SLAVE will create a
    read-only domain where PowerDNS will pull changes from the specified master
    server.
  #help-master
    The IP address of the authorative (or master) DNS server for this domain.
  #help-ttl
    The default TTL for new records created on this domain. Changing this value
    doesn't affect existing records.

- form_for(@domain) do |f|
  = error_messages_for :domain
  %p &nbsp;
  %table.grid
    %tr
      %td{:width => "300"} Domain name
      %td= f.text_field :name
      %td= prototip_help_icon('help-domain')
    %tr
      %td Type
      %td
        = f.select :type, ['NATIVE','MASTER','SLAVE']
        = observe_field :domain_type, :function => "if(value == \"SLAVE\") { $('master-address').show(); } else { $('master-address').hide(); }"
      %td= prototip_help_icon('help-type')
    %tr#master-address{ :style => 'display: none' }
      %td Master Address
      %td= f.text_field :master
      %td= prototip_help_icon('help-master')
    %tr
      %td Default TTL
      %td= f.text_field :ttl, :size => 8
      %td= prototip_help_icon('help-ttl')
  %table.grid
    %tr
      %td.right{:width => "300"}= link_to_cancel @domain
      %td= submit_tag "Save"
      %td &nbsp;

