%div{ :style => "display: none" }
  #new-zone= t :help_adds_new_domain
  #delete-zone= t :help_delete_domain
  
%ul.start
  %li
    = link_to prototip_info_icon('database_add.png', 'new-zone'), new_domain_path
    = link_to t(:label_add_new_zone), new_domain_path

%h1.underline= t :title_domains_list

%table
  = render :partial => 'domain', :collection => @domains

= will_paginate @domains
