%div{ :style => "display: none" }
  #new-zone= t :help_adds_new_domain
  #delete-zone= t :help_delete_domain
  #zone-edit=t :help_zone_edit
  #delete-zone=t :help_delete_zone
  #audits=t :help_audits
  #macro=t :help_macro

#header
  %planet
    =image_tag "../images/planet.png",  :class => "header_icons"
  %left= t :title_domains_list

#domainslist
  %table
    = render :partial => 'domain', :collection => @domains
  = will_paginate @domains

%ul.start
  = link_to info_icon('database_add.png', 'new-zone'), new_domain_path
  = link_to t(:label_add_new_zone), new_domain_path

