%li
  = link_to_domain_audit( domain_audit )
  %div[ domain_audit ]{ :style => 'display: none' }
    %strong= t :label_audit_time
    = domain_audit.created_at
    %br
    %strong= t :label_audit_changes
    %br
    = display_hash domain_audit.changes
