%li
  = link_to_record_audit( record_audit )
  %div[ record_audit ]{ :style => 'display: none' }
    %strong= t :label_audit_time
    = record_audit.created_at
    %br
    %strong= t :label_audit_changes
    %br
    = display_hash record_audit.changes
  