%tr
  %td
    = record.host
  %td
    = record.ttl
  %td
    = record.type
  %td
    = record.priority
  %td
    = record.data
  %td
    = link_to image_tag('database_edit.png'), edit_zone_record_path( record.zone, record )
    = link_to image_tag('database_delete.png'), zone_record_path( @zone ), :method => :delete
