%tr
  %td
    = record.host
  %td
    = record.ttl
  %td
    = record.type
  %td
    = record.priority
  %td
    = record.data
  %td
    = prototip_info_icon('database_edit.png', 'record-template-edit')
    = link_to prototip_info_icon('database_delete.png', 'record-template-delete'), zone_record_path( record.zone, record ), :method => :delete, :confirm => "Are you sure?"
