%tr
  %td
    = record.host
  %td
    = record.ttl
  %td
    = record.type
  %td
    = record.priority
  %td
    = record.data
  %td
    = image_tag 'database_edit.png'
    = image_tag 'database_delete.png'
