%table#soa-form.grid
  %tr
    %td Primary name server
    %td= soa_record.primary_ns
  %tr
    %td Contact
    %td= soa_record.contact
  %tr
    %td Refresh
    %td= soa_record.refresh
  %tr
    %td Retry
    %td= soa_record.retry
  %tr
    %td Expire
    %td= soa_record.expire
  %tr
    %td Minimum
    %td= soa_record.minimum