%h1.underline Update zone

- form_for(@zone) do |f|
  = error_messages_for :zone
  %p &nbsp;
  %table.grid
    %tr
      %td Domain
      %td= f.text_field :name
    %tr
      %td Primary name server
      %td= f.text_field :primary_ns
    %tr
      %td Contact
      %td= f.text_field :contact
    %tr
      %td Refresh
      %td= f.text_field :refresh
    %tr
      %td Retry
      %td= f.text_field :retry
    %tr
      %td Expire
      %td= f.text_field :expire
    %tr
      %td Minimum
      %td= f.text_field :minimum
    %tr
      %td.right= link_to "Cancel", zones_path
      %td= submit_tag "Save"
