- @page_title = @zone.name

%div{ :style => "display: none;" }
  #record-template-new
    Create a new record for this zone
  #soa-record-edit
    Edit the SOA record's details
  #zone-edit
    Edit this zone's details

%h1.underline
  = @zone.name
  &nbsp;
  = link_to prototip_info_icon('database_edit.png', 'zone-edit'), edit_zone_path( @zone )

#domain-name.padded
  %table.grid
    %tr
      %td Domain
      %td= @zone.name

#domain-soa.padded
  %h2.underline
    SOA Record
    &nbsp;
    = prototip_info_icon('database_edit.png', 'soa-record-edit')
  %table.grid
    %tr
      %td Primary name server
      %td= @zone.soa_record.primary_ns
    %tr
      %td Contact
      %td= @zone.soa_record.contact
    %tr
      %td Refresh
      %td= @zone.soa_record.refresh
    %tr
      %td Retry
      %td= @zone.soa_record.retry
    %tr
      %td Expire
      %td= @zone.soa_record.expire
    %tr
      %td Minimum
      %td= @zone.soa_record.minimum

#domain-records.padded
  %h2.underline Zone records
  %table.grid
    %tr
      %td{ :colspan => "6" }
        = link_to prototip_info_icon('database_add.png', 'record-template-new'), new_zone_record_path
        = link_to "New record", new_zone_record_path
    %tr
      %td.small Hostname
      %td.small TTL
      %td.small Type
      %td.small Priority
      %td.small Data
      %td &nbsp;
    = render :partial => 'record', :collection => @zone.records_without_soa
    %tr
      %td{ :colspan => "6" } &nbsp;
    %tr
      %td{ :colspan => "6" }
        = image_tag 'database_add.png'

:javascript
  function editRecord(id, type) {
    $('show_' + type + '_' + id).hide();
    $('edit_' + type + '_' + id).show();
  }
  function hideRecord(id, type) {
    $('edit_' + type + '_' + id).hide();
    $('show_' + type + '_' + id).show();
  }