- @page_title = @zone.name

%div{ :style => "display: none;" }
  #record-template-new
    Create a new record for this zone
  #record-template-edit
    Edit this record's details
  #record-template-delete
    Delete this record

%h1.underline
  = @zone.name
  &nbsp;
  = image_tag 'database_edit.png'

#domain-name.padded
  %table.grid
    %tr
      %td Domain
      %td= @zone.name

#domain-soa.padded
  %h2.underline
    SOA Record
    &nbsp;
    = image_tag 'database_edit.png'
  %table.grid
    %tr
      %td Primary name server
      %td= @zone.soa_record.primary_ns
    %tr
      %td Contact
      %td= @zone.soa_record.contact
    %tr
      %td Refresh
      %td= @zone.soa_record.refresh
    %tr
      %td Retry
      %td= @zone.soa_record.retry
    %tr
      %td Expire
      %td= @zone.soa_record.expire
    %tr
      %td Minimum
      %td= @zone.soa_record.minimum

#domain-records.padded
  %h2.underline Zone records
  %table.grid
    %tr
      %td{ :colspan => "6" }
        = link_to prototip_info_icon('database_add.png', 'record-template-new'), new_zone_record_path( @zone )
        = link_to "New record", new_zone_record_path( @zone )
    %tr
      %td.small Hostname
      %td.small TTL
      %td.small Type
      %td.small Priority
      %td.small Data
      %td &nbsp;
    = render :partial => 'record', :collection => @zone.records_without_soa
    %tr
      %td{ :colspan => "6" } &nbsp;
    %tr
      %td{ :colspan => "6" }
        = image_tag 'database_add.png'