!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= page_title
    = stylesheet_link_tag 'application', 'prototip'
    = javascript_include_tag :defaults, 'prototip'
  %body
    #Container
      #Header
        %h1
          =t :layout_main_title
      - if current_user
        #search-bar{:style => "display: inline; float: right;"}
          - form_tag( { :controller => :search, :action => :results }, { :method => :get } ) do
            = text_field_tag :q
            = submit_tag( t(:generic_search) )
        #Nav
          %ul
            %li= link_to((t :layout_menu_home), root_url)
            %li= link_to((t :layout_menu_domains), domains_path)
            %li= link_to((t :layout_menu_templates), zone_templates_path)
            %li= link_to((t :layout_menu_macros), macros_path)
            - if current_user.admin?
              %li= link_to((t :layout_menu_logs), audits_path)
              %li= link_to((t :layout_menu_users), users_path)
              %li= link_to((t :layout_menu_reports), reports_path)
            %li= link_to((t :layout_menu_logout), logout_path)

      #Body
        = show_flash

        = yield
      #Footer
        = link_to "PowerDNS on Rails", "http://www.opensourcery.co.za/powerdns-on-rails", :target => '_blank'
        \- &copy; Clear Planet Information Solutions (Pty) Ltd
        %br
        Released under the MIT License.
        %br
        %br
        = link_to "Report Bugs", "http://kennethkalmer.lighthouseapp.com/projects/11831-powerdns-on-rails", :target => '_blank'
        \-
        = link_to "Github", "http://github.com/kennethkalmer/powerdns-on-rails", :target => '_blank'

